ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 20px;
  padding: 20px;
}

.message {
  color: crimson;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  border: 1px solid crimson;
}
